{:optimizations :advanced, :asset-path "js", :output-dir "/Users/jay/.boot/cache/tmp/Users/jay/Projects/eccentric-blog/29v/-lg401f/public/js", :output-to "/Users/jay/.boot/cache/tmp/Users/jay/Projects/eccentric-blog/29v/-lg401f/public/js/eccentric-app.js", :main boot.cljs.main2680, :output-wrapper true, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__774 0x20db26ac "adzerk.boot_cljs.impl$compile_cljs$handler__774@20db26ac"]]}