{:optimizations :advanced, :asset-path "js", :output-dir "/Users/jay/.boot/cache/tmp/Users/jay/Projects/idle-parens/1f3u/-6l00ej/public/js", :output-to "/Users/jay/.boot/cache/tmp/Users/jay/Projects/idle-parens/1f3u/-6l00ej/public/js/eccentric-app.js", :main boot.cljs.main2751, :output-wrapper true, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__772 0x3a162d19 "adzerk.boot_cljs.impl$compile_cljs$handler__772@3a162d19"]]}